@import '../../styles/utils.scss';

#big-photo{
    height: 100vh;
    background-color: black;
    @include flex(center, center);
    .magnifier {
        img {
            width: auto;
            height: 99%;
        }
    }
}

@media (max-width: 577px) {
    .magnifier {
        width: 100% !important;
            height: auto !important;
        img {
            width: 100% !important;
            height: auto !important;
        }
    }
}