#player-video {
    min-height: 100vh;
    #container-video {
        .wrap-video {
            height: 600px;
            overflow: hidden;
            background-color: black;
            text-align: center;
            video, iframe, embed {
                width: 100%;
                height: 100%;
            }
            &[data-video-type="2"]:has(>#iframe-open-douyin) {
                height: 720px !important;
                iframe {
                    width: 324px;
                }
            }
        }
        .video-description {
            margin: 15px;
            padding: 10px;
            background-color: rgba(0, 0, 0, 0.1);
            border-radius: 12px;
        }
    }
}