@import '../../styles/utils.scss';
@import '../../styles/variables.scss';

#player-video {
    min-height: 100vh;
    #container-video {
        .wrap-video {
            height: 650px;
            overflow: hidden;
            background-color: black;
            text-align: center;
            video, iframe, embed {
                width: 100%;
                height: 100%;
            }
            &[data-video-type="1"] {
                @include flex();
            }
            &[data-video-type="2"]:has(>#iframe-open-douyin) {
                height: 720px !important;
                iframe {
                    width: 324px;
                }
            }
            &[data-video-type="4"] {
                iframe {
                    height: 800px !important;
                }
            }
            &[data-video-type="5"] {
                height: 625px !important;
                iframe {
                    width: 352px;
                    height: 621px;
                    border-radius: 12px;
                }
            }
        }
        .video-description {
            margin: 15px;
            padding: 10px;
            background-color: rgba(0, 0, 0, 0.1);
            border-radius: 12px;
        }
        .wrap-icons {
            @include flex(flex-start, center);
            padding-left: 17px;
            .wrap {
                display: block;
                color: $mainTextColor;
                font-size: 20px;
                width: 40px;
                height: 40px;
                @include flex(center, center);
                &:hover {
                    color: black;
                    font-size: bold;
                    cursor: pointer;
                    background-color: $mainBgColor2;
                    border-radius: 5px;
                }
            }
        }
    }
}